@font-face {
    font-family: myFont;
    src: url('res/fonts/InterDisplay-Regular.woff2'); 
}

.content {
    max-width: 300px;
    margin: auto;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: myFont;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #e26e26;
}

h1 {
    letter-spacing: 3px;
    font-size: large;
}